/* The sidebar menu */
.sidebar {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    right: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 20px; 
    padding-bottom: 0px; 
    padding-left: 5px;
    transition: 0.5s; 
  }

/* The button used to open the sidebar */
.openbutton {
    font-size: 15px;
    right: 15px;
    box-align: right;
    cursor: pointer;
    background-color: #222;
    color: white;
    padding: 1px 2px;
    border: none;
  }

.closebutton {
    position: absolute;
    font-size: 15px;
    box-align: center;
    cursor: pointer;
    background-color: #222;
    color: white;
    padding: 1px 2px;
    border: none;
    right: 20px;
  }

table, th, td, tr {
    font-size: 15px;
}
.openbutton:hover, .closebutton:hover {
    background-color: #444;
  }

#main {
    transition: margin-left .5s; 
    padding: 0px;
}